.color-1 { background-color: #3AA566; }
.color-2 { background-color: #1C506F; }
.background-1 { background-color: rgba(58, 165, 102, 0.8); }
.background-2 { background-color: rgba(35, 102, 142, 0.8); }
.text-1 { color: #3AA566; }
.text-2 { color: #1C506F; }

.img-vestibular { background-image: url("http://radio.ufpa.br/listao/_images/listao-ufpa-2.jpg"); }
.img-ufpa-campus { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-campus.jpg"); }
.img-aprovados-1 { background-image: url("http://radio.ufpa.br/listao/_images/aprovados-1.jpg"); }
.img-aprovados-2 { background-image: url("http://radio.ufpa.br/listao/_images/aprovados-2.jpg"); }
.img-aprovados-3 { background-image: url("http://radio.ufpa.br/listao/_images/aprovados-3.jpg"); }

.img-abaetetuba { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-abaetetuba.jpg"); }
.img-acara { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-acara.jpg"); }
.img-altamira { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-altamira.jpg"); }
.img-ananindeua { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-ananindeua.jpg"); }
.img-baiao { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-baiao.jpg"); }
.img-belem { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-belem.jpg"); }
.img-braganca { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-braganca.jpg"); }
.img-breves { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-breves.jpg"); }
.img-cameta { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-cameta.jpg"); }
.img-capanema { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-capanema.jpg"); }
.img-castanhal { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-castanhal.jpg"); }
.img-brasil-novo { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-brasil-novo.jpg"); }
.img-soure { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-soure.jpg"); }
.img-tucurui { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-tucurui.jpg"); }
.img-melgaco { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-melgaco.jpg"); }
.img-maraba { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-maraba.jpg"); }
.img-uruara { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-uruara.jpg"); }
.img-salinopolis { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-salinopolis.jpg"); }
.img-mocajuba { background-image: url("http://radio.ufpa.br/listao/_images/ufpa-mocajuba.jpg"); }

/* Tile */

.tile a {
  background-color: rgba(35, 102, 142, 0.8);
}
.tile a:hover, .tile a:focus {
  background-color: rgba(58, 165, 102, 0.7); 
}

.big-tile { height: 450px; width: 90%; }
.large-tile { height: 180px; width: 280px; }
.quad-tile { height: 300px; width: 300px; }

strong { 
	line-height: 84px;
	font-size: 84px; 
}

